{% extends "index.html" %}
{% block titulo %}Verificación de firma{% endblock %}
{% load static %}
{% block estilos %}

{% endblock %}
{% block scripts %}
<script src="{% static 'scripts/verificarFirmas.js' %}"></script>
{% endblock %}
{% block encabezado %}VERIFICAR FIRMA{% endblock %}
{% block contenido %}
<div class="row container">
    <div class="col-md-12 d-flex justify-content-center">
        <form action="/vfirma/" id="formulario" method="POST" class="w-100" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row m-5 text-center">
                <div class="col pg-5">
                        <label for="name" class="text-white"><h4>Subir Archivo</h4></label>
                        <input type="file" name="archivo" id="archivo" class="form-control">
                        <br>
                </div>
                <div class="col pg-5">
                <label for="name" class="text-white"><h4>Subir Firma</h4></label>
                <input type="file" name="firma" id="firma" class="form-control">
                </div>
            </div>
            <br>
            <div class="row m-4 text-center">
                <div class="col-sm-9 col-md-6">
                        <label for="name" class="text-white"><h4>Usuario de la firma</h4></label>
              <input type="text" name="user" id="user" class="form-control">
                <br>
                </div>
                <div class="col-sm-3 col-md-6">
                        <button type="submit" name="submit" id="submit" class="btn btn-info"><h4>VERIFICAR FIRMA</h4></button>
                </div>
            </div>
            <div id="box-errors" class="row justify-content-center m-2">
                <div class="col-md-12 text-center">
                    
                </div>
            </div>
            {% if errores %}
            <div id="errores" class="alert alert-danger mt-3">
                <strong>Errores:</strong>
                <ul id="lista-errores" class="mb-0">
                    {% for error in errores %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if confirmacion %}
            <div id="confirmacion" class="alert alert-success mt-3">
                <strong>confirmacion:</strong>
                <ul id="lista-errores" class="mb-0">
                    {% for veri in confirmacion %}
                        <li>{{ veri }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
